asyncio==3.4.3
blinker==1.6.2
certifi==2023.7.22
chardet==4.0.0
click==8.1.6
Flask==2.3.2
fyers-apiv2==2.0.7
idna==2.10
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
numpy==1.25.2
pandas==2.0.3
pandas-ta==0.3.14b0
psutil==5.9.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.25.1
six==1.16.0
ta==0.10.2
tornado==6.1
tzdata==2023.3
urllib3==1.26.16
websocket-client==1.2.1
websockets==8.1
Werkzeug==2.3.6
xlwings==0.30.10
zipp==3.16.2
